*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --base: #555;
    --base-100:#f1f1f1;
    --base-400:#555;
    --base-800: #000;
    --yellow: yellow;
    --yellow-100:#fffbe6;
    --yellow-400:#ffda4b;
    --yellow-800: #8b6f00;
    --blue:#0a61ae;
    --blue-100:#e2f8ff;
    --blue-400:#61dafb;
    --blue-800:#0a61ae;
}
body{
    font-family: "Open Sans",sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 20px;
    padding-bottom: 1000px;
}
header{
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    margin: auto;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.logo-holder{
    display: flex;
    text-decoration: none;
    align-items: center;
    font-weight: 600;
    color: var(--base-800);
}
a{
    text-decoration: none;
    color: var(--blue);
}
a:hover{
    text-decoration: none;
    background: var(--base-100);
    border-radius: 10px;
}
.logo{
    display: flex;
    background-color: var(--base-800);
    font-size: 32px;
    color: var(--base-100);
    align-items: center;
    justify-content: center;
    height: 64px;
    width: 64px;
    margin-right: 20px;
    border-radius: 50%;
}
.logo-text{
    flex: 1;
    
}

nav{
    display: flex;
    align-items: center;
}
nav .mobile-toggle{
    display: none;
    color: var(--base-800);
    padding: 10px;
}
@media (max-width:768px) {
   nav .mobile-toggle{
        display: inline-block;
        position: absolute;
        top: 20px;
        right: 20px;
    }
    header{
        flex-direction: column;
        align-items: center;
    }
    nav{
        margin-top: 10px;
        width: 100%;
    }
    
}
ul{
    display: flex;
    list-style: none;
    gap: 5px;
}
ul li{
    display: inline-block;
}
ul a{
    display: inline-block;
    padding: 10px 20px;
    color: var(--base);
}
@media (max-width:768px) {
    @media (max-width:1024px) {
    header{
    align-items: center;
    flex-direction: column;
    
}
}
    nav ul{
        display: none;
        flex-direction: column;
        text-align: center;
        width: 100%;
        a{
            width: 100%;
        }
        &.active{
            display: flex;

        }
    }
    
}

@media (max-width:1024px) {
    header{
    align-items: center;
    flex-direction: column;
    gap: 10px;
    
}
}
.container{
    max-width: 1440px;
    margin: auto;
    gap: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    @media (max-width:1440px){
        padding-left: 30px;
        padding-right: 30px;
    }
}
.button{
    display: inline-block;
    padding: 10px 30px;
    background-color: var(--blue);
    color: var(--base-100);
    border-radius: 10px;
    &:hover{
        text-decoration: none;
        background-color: var(--base-800);
        transition: ease-in-out 0.2s all;

    }
    &.white{
        background-color: white;
        color: var(--base-800);
        &:hover{
            background-color: var(--base-100);
            color: var(--blue-800);
        }
    }
    &.black{
        background-color: black;
        color: white;
        &:hover{
            background-color: var(--base);
            color: var(--base-100);
        }
    }

}
h1{
    font-size: 64px;
    line-height: 1;
    margin-bottom: 10px;
    small{
        display: block;
        font-weight: 100;
    }
    @media (max-width:1024px){
        font-size: 48px;

    }
}
.hero{
    display: flex;
    @media (max-width:1024px) {
        flex-direction: column;
    }
    .hero-blue{
        flex: 1;
        background-color: var(--blue-100);
        border-radius: 30px;
        padding: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .call-to-action{
            margin-top: 20px;
            margin-bottom: 10px;
            a{
                margin-right: 10px ;
                margin-bottom: 10px;
            }
            span{
                @media(max-width:768px){
                    display: none;
                }
            }
        
    }
    .social-links{
        a{
            &:hover{
                text-decoration: none;
            }
        }
    }
    }
    .hero-yellow{
        flex: 1;
        background-color: yellow;
        border-radius: 30px;
        padding: 0px 30px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        img{
            height: 440px;
           margin-top:-60px;
			max-width:420px;
			margin-bottom:-2px;

        }

    }
    
}
.logos{
    background-color: var(--base-100);
    border-radius: 30px;
    padding: 30px 0px;
    @media (max-width:1444px) {
        border-radius: 0px;
        
    }
    .marquee{
        width: 100vw;
        max-width: 100%;
        height: 128px;
        overflow: hidden;
        position: relative;
        .track{
            position: absolute;
            white-space: nowrap;
            will-change: transform;
            animation: marquee 40s linear infinite;   /*This means adding an animation called marquee for 40 seconds which will be linear in nature and will run infinitely*/
            display: flex;
            gap: 10px;


        }
    }
}

@keyframes marquee {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-50%);
    }
    
}

h2{
    font-size: 54px;
    line-height: 1;
    margin-bottom: 10px;
    text-align: center;
    color: var(--base-800);
    padding: 30px;
    small{
        display: block;
        font-weight: 100;
        font-size: 0.5em;
        color: var(--base);
    }
    @media(max-width:1204px){
        font-size: 48px;
    }
}
h3{
    font-size: 32px;
    font-weight: 600;
    line-height: 1;
    margin-bottom: 20px;
    color:var(--base-800);
}
.skills{
    .holder-blue{
        background-color: var(--blue-100);
        border-radius: 30px;
        margin: 30px auto;
        padding: 30px;
        display: flex;
        @media(max-width:1024px){
            flex-direction: column;

        }
        .left-column{
            flex: 1;
            ul{
                list-style: none;
                gap: 10px;
                margin-right: 100px;
                margin-bottom: 20px;
                overflow-wrap: break-word;
                width: 100%;
                li{
                    display: inline-block;
                    background-color: var(--blue-400);
                    padding: 10px 20px;
                    border-radius: 15px;
                    height: auto;
                    width: 100%;
                    overflow: auto;
                }

            }

        }
        .right-column{
            flex: 1;
            margin: 30px auto;
            p{
                margin-bottom: 20px;
            }
        }
    }
}

.bento{
    .bento-grid{
        display: grid;
        grid-gap: 53px;
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: repeat(3,1fr);
        height: 450px;
        justify-content: center;
        .bento-item{
            padding: 30px;
            background-color: var(--base-100);
            border-radius: 10px;
            @media (max-width:768px) {
                height: 240px;
                
            }
            @media (max-width:1024px) {
                grid-template-rows: repeat(8,1fr);
                overflow: auto;
                
            }
            @media (max-width:768px) {
                display: flex;
                flex-direction: column;
                gap: 30px;
                height: auto;
                overflow:auto;
            }
            &:nth-child(1){
                grid-column: span 1;
                grid-row: span 3;
                margin-left: 100px;
                width: 450px;
                @media (max-width:1024px) {
                grid-template-rows: repeat(8,1fr);
                margin-left: 50px;
                grid-column: span 1;
                grid-column: span 4;
                
            }
            p{
                margin-top: 10px;
            }
            }
             &:nth-child(2){
                grid-column: span 1;
                grid-row: span 3;
                margin-left: 50px;
                width: 450px;
                 @media (max-width:1024px) {
                grid-template-rows: repeat(8,1fr);
                grid-column: span 1;
                grid-column: span 4;
                
            }
            p{
                margin-top: 10px;
            }
            }
             &:nth-child(3){
                grid-column: span 1;
                grid-row: span 3;
                margin-left: 50px;
                width: 450px;
                 @media (max-width:1024px) {
                grid-template-rows: repeat(8,1fr);
                grid-column: span 1;
                grid-column: span 4;
                
            }
            p{
                margin-top: 10px;
            }
            }
        }
    }
}
